* ,
*::after ,
*::before{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
html{scroll-behavior: smooth;}
:root{
    --light-white:rgb(255, 229, 229);
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: rgba(147, 177, 147, 0.87);
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #384553;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}
.different-color{
    color: var(--bs-green);
}
body{
    font-family:sans-serif;
}
a{
    text-decoration: none;
}
#header{
    width: 100%;
}
.container{
    max-width: 1200px;
    padding:0px 20px;
    margin: 0% auto;
}
.top-header{
    width: 100%;
    height: 70px;
    background-color:var(--bs-gray-dark);
    display: flex;
    justify-content: center;
}
.about-top-header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0% 5px;
    position: relative;
}
.time-to{
    display: flex;
    color:rgb(189, 187, 184)
}
.time-to>div{
    padding: 0% 10px;
}
.number{
    color:var(--bs-green) ;
    font-weight: bold;
    font-size: 1.3rem;
}
.left-top-header>p{
    font-size: 1.1em;
    color: var(--light-white);
}
.right-top-header{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-top-header>div{
    text-align: center;
}

.right-top-header>div>span{
    font-size: 14px;
}
.right-top-header>div>.number{
    color:var(--bs-green) ;
    font-weight: bold;
    font-size: 1.3em;
}
.right-top-header>div>.time{
    color:rgb(189, 187, 184)
}
.learn-more{
    cursor: pointer;
    width: 90px;
    text-align: center;
    transition: 0.5s;
    
}
.learn-more::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: relative;
    bottom: -7px;
}   
.learn-more:hover{
    width: 100px;
}
.bottom-header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-bottom-header{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
    position: relative;
}
/* ul */
ul{
    display: flex;
    justify-content: center;
    align-items:center ;
    position: relative;
    position: relative;
    width: 100%;
    transition: 1s


}
ul li{
    list-style: none;
    display: block;
    height: 100%;
    position: relative;
}
ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 25px 20px;
    color: var(--bs-gray-dark);
    font-size: 1.1em;
    transition: 0.3s;
}
ul li a:hover{
    color: #536475;
}
ul li ul.dropdown li{
    display: block;
    height: 1.4em;
    line-height: 20px;
    padding: 15px 15px;
    position: relative;
}
ul li ul.dropdown{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color:white;
    width: 100%;
    height: 145px;
    padding: 10px 0px;
    position: absolute;
    opacity: 1;
    z-index: 2px;
}
ul.dropdown li a{
    padding: 0px 0px;
}

ul li:hover .dropdown{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color:rgba(255, 255, 255, 0.356);
    width: 160px;
    height: 145px;
    padding: 10px 0px;
    position: absolute;
    animation: go 0.3s linear;
}
@keyframes go{
    0%{
        top: 110px;
    }
    100%{
        top: 73px;
    }
}
.bars-menu{
    position: relative;
    cursor: pointer;
    display: none;
}
input[type="checkbox"]{display: none;}
.call-us{
    cursor: pointer;
    position: relative;
}
.call-us a{
    color: #333;
    text-decoration: none;
}
.call-us::after{
    content: '';
    display: block;
    background-color: #33333379;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 110%;
    transform: translate(-100% , -100%);
}
.icons{
    transform: translatex(-20px);
}
.icons i{
    font-size: 1.5em;
    transition: 0.5s;
    margin: 0% 2px;
}
.fa-square-facebook{color:var(--bs-indigo);}
.fa-square-twitter{color: var(--bs-indigo);}
.fa-linkedin{color: dodgerblue;}
.fa-youtube{color: red;}
.fa-envelope{color: rgb(79, 190, 79);}
.icons i:hover{
    transform: rotatey(180deg);
}
/* main */
#main{
    width: 100%;
}
/* image nackground */
.image-background{
    width: 100%;
    min-height: 300px;
    background: url(image/background-image.jpg) no-repeat center center;
    background-size: cover;
}
.cover-image{
    width: 100%;
    height: 300px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
}

.section-background{
    padding: 50px 0px;
}
.title-section-background{
    color: var(--light-white);
}
.h2-section-background{
    font-size: 3em;
    margin-bottom: 10px;
}

.p-section-background{
    font-size: 1.1em;
    line-height: 1.8em;
}
.programs-offer{
    width: 100%;
    min-height: 900px;
    text-align: center;
}
.section-progarms{
    padding: 80px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.about-programs{
    width: 600px;
}
.h1-programs{
    color: rgb(29, 48, 61);
    font-size: 35px;
    margin-bottom: 30px;
}
.p-programs{
    font-size: 1.1em;
    color: var(--bs-secondary);
}
.photos-programs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    flex-wrap: wrap;
}
.image-right-programs:hover img{
    transform: scale(1.1);
}
.image-left-programs:hover img{
    transform: scale(1.1);
}
.image-right-programs:hover .h2-faculty a{
    color: var(--bs-green);
}
.image-left-programs:hover .h2-faculty a{
    color: var(--bs-green);
}
.image-left-programs{
    width: 49%;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--light-white);
    padding: 15px;
    margin: 3px;
}
.image-right-programs{
    width: 49%;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--light-white);
    padding: 15px;
}
.image-programs img{
    width: 100%;
    transition: 0.7s;
}
.image-programs{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.h2-faculty{
    padding-top: 20px;
    text-align: left;
    font-size: 1.6em;
    color: rgb(29, 48, 61);
    margin-bottom: 20px;
}
.h2-faculty a{
    transition: 0.4s;
    color: rgb(29, 48, 61);
}
.p-faculty{
    text-align: left;
    color: var(--bs-secondary);
    margin-bottom: 20px;
}
.learn-more-faculty{
    cursor: pointer;
    width: 90px;
    text-align: center;
    transition: 0.5s;
    color:#516454 ;
    top: 100%;
}
.learn-more-faculty a{
    color:#516454;
}
.learn-more-faculty::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color:#516454 ;
    position: relative;
    bottom: -7px;
}   
.learn-more-faculty:hover{
    width: 100px;
}


.circle-first-year{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5);
    margin: 0% 15px;
    transition: 0.3s;
}
/* our pretners */

.our-pertners{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding:100px 0px;
}
.about-our-pertners{
    width: 100%;margin-bottom: 30px;
}
.h1-our-pertners{
    font-size: 2em;
    color: rgb(29, 48, 61);
    margin-bottom: 20px;
}
.p-our-pertners{
    font-size: 1.2em;
    color: var(--bs-secondary);
}
.brands{
    width: 100%;
}
.brands img{
    margin: 0px 5px;
}
.trusted{
    width: 100%;
    min-height: 600px;
    background-color: #f8f8f3;
}
.about-trusted{
    width: 100%;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-trusted{
    width: 49%;
}
.left-trusted img{
    width: 100%;
    height: 600px;
}
.right-trusted{
    width: 49%;
    padding: 80px 0px;
    background-color: #137a4a;;
}
.inner-right-trusted{
    padding: 25px 40px;
}
.h1-left-trusted{
    color: white;
    margin-bottom:30px;
}
.p1-left-trusted{
    font-size: 1.2em;
    color: rgba(255, 215, 215, 0.7);
    margin-bottom: 40px;
}
.p2-left-trusted{
    font-size: 1.2em;
    color: rgba(255, 215, 215, 0.7);
}
.join-now{
    cursor: pointer;
    width: 90px;
    text-align: center;
    transition: 0.5s;
    top: 100%;
    margin-top: 30px;
}
.join-now a{
    color:white;
}
.join-now::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color:white ;
    position: relative;
    bottom: -7px;
    transition: 0.5s;
}   
.join-now:hover{
    width: 100px;
}
#footer{
    width: 100%;
    min-height: 450px;
    background-color:var(--bs-gray-dark);
}
.about-footer{
    padding: 40px 35px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.about-us-footer{
    margin: 30px 0px;
}
.about-us-footer a{
    color: var(--bs-secondary);
    transition: 0.3s;
}
.about-us-footer a:hover{
    text-decoration: underline;
    color: var(--bs-green);
}
#input-email{
    width: 200px;
    height: 50px;
    background-color: white;
    padding: 0px 10px;
    border: none;
    position: relative;
}   
.send-email{
    width: 70px;
    height: 50px;
    background-color: #137a4a;
    position: relative;
    top: -50px;
    left: 200px;
    text-align: center;
    line-height: 50px;
}
.send-email i{
    color: white;
}
#input-email:focus{
    outline: none;
}
.hr-footer{
    height: 1px;
    color: #333;
}
.p-footer{
    text-align: center;
    line-height: 100px;
    color: var(--bs-secondary);
}
.p-footer a{
    color: var(--bs-green);
}
.p-footer i{
    color: red;
}
.icon-footer{
    margin: 0px 5px;
    color: white;
    font-size: 1.3em;
    transition: 0.3s;
}
.icon-footer:hover{
    transform: rotateY(-180deg);
}
.up{
    background-color: #007A5C;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid transparent;
    line-height: 50px;
    cursor: pointer;
}
/* respansive */

@media (max-width:1199px){
    .call-us{
        display: none;
    }
    .about-essential{
        flex-wrap: wrap;
    }
    .left-essential{
        width: 100%
    }
    .right-essential{
        width: 100%;
    }
}
/* min 990 , max 1199 */
@media (max-width:1199px) and (min-width:990px){
    .left-top-header{
        margin-right: 10px;
    }
    .right-top-header{
        margin: 0px 30px;
    }
    .call-us{display: none;}
    .icons{
        width: 150px;
        position: absolute;
        left: 100%;
        transform: translatex(-100%);
        display: flex;
    }

    .about-bottom-header{
        padding: 0px 50px;
    }
    .menu{
        margin-right: 330px;
    }
}
@media (max-width:990px){
    .image-top-storise{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-trusted{
        flex-wrap: wrap;
    }
    .left-trusted{
        width: 100%;
    }
    .right-trusted{
        width: 100%;
    }
    .about-footer{
        flex-wrap: wrap;
    }
}

/* min 767 , max 990 */

@media (max-width:990px) and (min-width:767px){
    .top-header{
        height: 120px;
        flex-wrap: wrap;
    }
    .about-top-header{
        width: 80%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .right-top-header{
        margin: 0% 40px;
    } 
    .bottom-header{
        width: 100%;
    }
    .about-bottom-header{
        max-width: 90%;
    }
    .menu{
        position: absolute;
        width: 100%;
        display: none;
        top: 0%;
        overflow: hidden;
    }
    ul{
        width: 100%;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        animation: menu 1s alternate;
    }
    ul li{
        width: 100%;
    }
    ul li a{
        text-align: left;
        width: 100%;
    }
        .bars-menu{
        display: block;
        font-size: 1.7em;
        color: green;
            left: -3%;
    }
    .icons{
        position: relative;
        left: 20%;
        display: flex;
    }
    #check:checked ~ .menu{
        display: block;
        top: 100%;
    }
    .about-comprehnsive{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .p1-comprehnsive{
        width: 350px;
        text-align: left;
    }
    .p2-comprehnsive{
        width: 350px;
        text-align: left;
    }
    .learn-more-comprehnsive{
        transform: translateX(100px);
    }
    @keyframes menu{
        0%{
            height: 0vh;
        }
        100%{
            height: 60vh;
        }
    }
    ul li:hover .dropdown{
        display: none;
    }
    .about-essential{
        flex-wrap: wrap;
    }
    .left-essential{
        width: 100%
    }
    .right-essential{
        width: 100%;
    }
}

/* max 767 */

@media (max-width:767px){
    .top-header{
        height: 120px;
        flex-wrap: wrap;
    }
    .about-top-header{
        width: 80%;
        justify-content: center;
        flex-wrap: wrap;
    }
    .right-top-header{
        margin: 0% 40px;
    }
    .about-bottom-header{
        justify-content: space-between;
    }
    .menu{
        position: absolute;
        width: 100%;
        display: none;
        top: 0%;
        overflow: hidden;
    }
    ul{
        width: 100%;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        animation: menu 1s alternate;
    }
    ul li{
        width: 100%;
    }
    ul li a{
        text-align: left;
        width: 100%;
    }
        .bars-menu{
        display: block;
        font-size: 1.7em;
        color: green;
            left: 0%;
    }
    .icons{
        position: relative;
        left: 20%;
        display: flex;
    }
    #check:checked ~ .menu{
        display: block;
        top: 100%;
    }
    @keyframes menu{
        0%{
            height: 0vh;
        }
        100%{
            height: 60vh;
        }
    }
    #check:checked ~ .menu{
        display: block;
        top: 100%;
    }

    ul li:hover .dropdown{
        display: none;
    }
    .about-comprehnsive{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .h1-comprehnsive{
        font-size: 1.4em;
    }
    .p1-comprehnsive{
        width: 350px;
        text-align: left;
    }
    .p2-comprehnsive{
        width: 350px;
        text-align: left;
    }
    .learn-more-comprehnsive{
        transform: translateX(100px);
    }
    .photos-programs{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .image-right-programs{
        width: 80%;
    }
    .image-left-programs{
        width: 80%;
    }
    .right-comprehnsive{
        padding: 0px 0px;
    }
    ul li:hover .dropdown{
        display: none;
    }
    .about-essential{
        flex-wrap: wrap;
    }
    .left-essential{
        width: 100%
    }
    .right-essential{
        width: 100%;
    }
    .image-top-storise{
        flex-wrap: wrap;
        justify-content: center;
    }
    .first-image-top-storise{
        width: 100%;
        font-size: 10px;
        margin-bottom: 50px;
    }   
    
    .second-image-top-storise{
        width: 100%;
        font-size: 10px;
        margin-bottom: 50px;
    }
    .third-image-top-storise{
        width: 100%;
        font-size: 10px;
    }
}
@media (max-width:641px){
    .h1-section-background{
        font-size: 2em;
        margin-bottom: 20px;
    }
    .p-section-background{
        font-size: 1em;
        line-height: 1.8em;
    }
    .about-footer{
        display: block;
    }
    .quick-links{
        margin-top: 15px;
    }

}

/* max 500 */
@media (max-width:500px){
    .learn-more{display: none;}
    .icons{display: none;}
}